<div class="main__cards">
    <div class="card">
        <div class="card__header">
          <div class="card__header-title text-light"><strong>Virus Spread Animation</strong>
          </div>
          <div class="settings">
            <div class="settings__block"><i class="fas fa-edit"></i></div>
            <div class="settings__block"><i class="fas fa-cog"></i></div>
          </div>
        </div>
        <div class="card__main">
            <app-map-view></app-map-view>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
          <div class="card__header-title text-light"><strong>Global Statistics</strong>
          </div>
          <div class="settings">
            <div class="settings__block"><i class="fas fa-edit"></i></div>
            <div class="settings__block"><i class="fas fa-cog"></i></div>
          </div>
        </div>
        <div class="card__main">
            <div [chart]="WorldChart"></div>  
        </div>
    </div>
    <div class="card">
        <div class="card__header">
          <div class="card__header-title text-light"><strong>Global Outcome</strong>
          </div>
          <div class="settings">
            <div class="settings__block"><i class="fas fa-edit"></i></div>
            <div class="settings__block"><i class="fas fa-cog"></i></div>
          </div>
        </div>
        <div class="card__main">
            <p>At the end of the simulation, <strong>{{simulation.globaldata.globalFatalities}}</strong> have died globally and <strong>{{simulation.globaldata.globalRecovered - simulation.globaldata.globalFatalities}}</strong> have recovered.</p>
            <p>The peaks of the spread happened between day <strong>{{simulation.globaldata.earlyPeak.globalPeakStep * simulation.timeStepLength}} ({{simulation.globaldata.earlyPeak.nameFull}})</strong> and <strong>{{simulation.globaldata.latePeak.globalPeakStep * simulation.timeStepLength}} ({{simulation.globaldata.latePeak.nameFull}}).</strong></p>
            <p>At its peak, the disease infected between <strong>{{simulation.globaldata.lowPeak.globalPeakRate * 100}}% ({{simulation.globaldata.lowPeak.nameFull}})</strong> and <strong>{{simulation.globaldata.highPeak.globalPeakRate * 100}}% ({{simulation.globaldata.highPeak.nameFull}})</strong> of the total population.</p>
        </div>
    </div>
</div>


