<mat-form-field>
    <mat-label>Base Mortality</mat-label><input matInput type="number" [(ngModel)]="simulation.baseMortalityRate" />
</mat-form-field>
<br />
<mat-slide-toggle class="" [(ngModel)]="simulation.infectionBasedMortalityEnabled" (change)="updateMortalities()">Enable Infection-Based Mortality</mat-slide-toggle>
<div *ngIf="simulation.infectionBasedMortalityEnabled">
    <br />
    <mat-form-field>
        <mat-label>Critical Mortality</mat-label>
        <input matInput type="number" [(ngModel)]="simulation.advancedMortalityPercentage" />
    </mat-form-field><br />
    <mat-form-field>
        <mat-label>Critical Mortality Threshold</mat-label>
        <input matInput type="number" [(ngModel)]="simulation.advancedMortalityInfectionThreshold" />
    </mat-form-field>
</div>