<div class="main-overview">
  <div class="overviewCard" (click)="runSimulation()">
    <div class="overviewCard-icon overviewCard-icon--calendar">
      <fa-icon [icon]="faPlay"></fa-icon>
    </div>
    <div class="overviewCard-description">
      <h3 class="overviewCard-title text-light"><strong>Run</strong> the simulation</h3>
      <p class="overviewCard-subtitle"></p>
    </div>
  </div>
  <div class="overviewCard" (click)="setCoronaDefault()">
    <div class="overviewCard-icon overviewCard-icon--document">
      <fa-icon [icon]="faBH"></fa-icon>
    </div>
    <div class="overviewCard-description">
      <h3 class="overviewCard-title text-light"><strong>Corona Virus</strong> Preset</h3>
      <p class="overviewCard-subtitle"></p>
    </div>
  </div>
  <div class="overviewCard" (click)="setMeaselesZeroVac()">
    <div class="overviewCard-icon overviewCard-icon--mail">
      <fa-icon [icon]="faSuC"></fa-icon>
    </div>
    <div class="overviewCard-description">
      <h3 class="overviewCard-title text-light"><strong>Measles</strong> Preset I</h3>
      <p class="overviewCard-subtitle">with 0% vaccination</p>
    </div>
  </div>
  <div class="overviewCard" (click)="setMeaselesHighVac()">
    <div class="overviewCard-icon overviewCard-icon--calendar">
      <fa-icon [icon]="faE"></fa-icon>
    </div>
    <div class="overviewCard-description">
      <h3 class="overviewCard-title text-light"><strong>Measles</strong> Preset II</h3>
      <p class="overviewCard-subtitle">with 97% vaccination</p>
    </div>
  </div>
</div>

<div class="main__cards">
  <div class="card">
    <div class="card__header">
      <div class="card__header-title text-light"><strong>Virus Settings</strong>
      </div>
      <div class="settings">
        <div class="settings__block"><i class="fas fa-edit"></i></div>
        <div class="settings__block"><i class="fas fa-cog"></i></div>
      </div>
    </div>
    <div class="card__main">
      <app-disease-parameter-settings></app-disease-parameter-settings>
    </div>
  </div>
  <div class="card">
    <div class="card__header">
      <div class="card__header-title text-light"><strong>Numerical Settings</strong>
      </div>
      <div class="settings">
        <div class="settings__block"><i class="fas fa-edit"></i></div>
        <div class="settings__block"><i class="fas fa-cog"></i></div>
      </div>
    </div>
    <div class="card__main">
      <app-numerical-settings></app-numerical-settings>
    </div>
  </div>
  <app-initial-infection></app-initial-infection>
  <div class="card card--finance">
    <div class="card__header">
      <div class="card__header-title text-light"><strong>Response Settings</strong>
      </div>
      <div class="settings">
        <div class="settings__block"><i class="fas fa-edit"></i></div>
        <div class="settings__block"><i class="fas fa-cog"></i></div>
      </div>
    </div>
    <div class="card__main">
      <app-mortality-settings></app-mortality-settings>
    </div>
  </div>
</div>