<div class="sidenav__brand">
  <a href="/"><img src="./assets/logo_large.png" width="250px" /></a>
</div>
<div class="row row--align-v-center row--align-h-center">
  <ul class="navlist">
    <li class="navList__heading">Settings<i class="far fa-file-alt"></i></li>
    <li>
      <a routerLink="setup">
        <div class="navList__subheading row row--align-v-center">
          <span class="navList__subheading-icon"><i class="fas fa-briefcase-medical"></i></span>
          <span class="navList__subheading-title">Simulation Settings</span>
        </div>
      </a>
    </li>
    <li class="navList__heading">Results<i class="far fa-file-alt"></i></li>
    <li><a routerLink="world">
        <div class="navList__subheading row row--align-v-center">
          <span class="navList__subheading-icon"><i class="fas fa-briefcase-medical"></i></span>
          <span class="navList__subheading-title">Global Results</span>
        </div>
      </a>
    </li>
    <li><a routerLink="country">
        <div class="navList__subheading row row--align-v-center">
          <span class="navList__subheading-icon"><i class="fas fa-briefcase-medical"></i></span>
          <span class="navList__subheading-title">Country Results</span>
        </div>
      </a>
    </li>
    <li><a routerLink="math">
        <div class="navList__subheading row row--align-v-center">
          <span class="navList__subheading-icon"><i class="fas fa-briefcase-medical"></i></span>
          <span class="navList__subheading-title">Mathematical Details</span>
        </div>
      </a>
    </li>
    <li><a routerLink="about">
        <div class="navList__subheading row row--align-v-center">
          <span class="navList__subheading-icon"><i class="fas fa-briefcase-medical"></i></span>
          <span class="navList__subheading-title">About</span>
        </div>
      </a>
    </li>
  </ul>
</div>