<div class="row row--align-v-center row--align-h-center">
<ul class="sidenav__list navlistt">
    <li class="sidenav__list-item"><a routerLink="setup">Simulation Settings</a></li>
    <li class="sidenav__list-item"><a routerLink="world">Global Results</a></li>
    <li class="sidenav__list-item"><a routerLink="country">Country Results</a></li>
    <li class="sidenav__list-item"><a routerLink="math">Mathematical Details</a></li>
    <li class="sidenav__list-item"><a routerLink="about">About</a></li>
  </ul>
</div>